
body
{
  margin: 0;
}

h1
{
  margin-top:0;
  font-family: 'Pacifico', cursive;
  color: #66BFBF
}
p
{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}
h3
{
  font-family: 'Lobster', cursive;
   color: #11999E;

}
hr
{
  border-style: dotted;
  width: 5%;
  border-top: auto;
  border-bottom: 0;
  border-width: 10px;
  color: #EAF6F6;
  margin: 100px auto;
}
h2
{
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
}
a
{
    font-family: 'Pacifico', cursive;
    color: #11999E;


}
.top-container
{
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  position:relative;


}
.top-cloud
{
  position: absolute;
  right:500px;
  top:5px;




}
.bottom-cloud
{
  position: absolute;
  left:500px;
}

.middle-container
{
  text-align: center;
  padding-top: 150px;
}
.bottom-container
{
  text-align: center;
  background-color:  #66BFBF;
  padding-bottom: 100px;
  padding-top: 40px;
}
a
{
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.one{
  margin: 10px 20px;
}
.two
{
  margin: 10px 20px;
}
.skill-row
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.pr
{
  width:25%;
  float: left;
  padding-right: 50px;

}
.k
{
  width:25%;
  float: left;
  padding-right: 50px;

}
.kgf
{
  color:#40514E;
}
.BUTTON_VSC {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 3px;
   line-height: 3px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 170px;
   font-size: 30px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #11999E;
   -moz-box-shadow: 1px 1px 20px 0 #11999E;
   box-shadow: 1px 1px 20px 0 #11999E;
   text-shadow: 1px 1px 20px #11999E;
   border: solid #11999E 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_VSC:hover {
   border: solid #11999E 1px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.contact-me
{
  margin: 100px auto;
}
